<!DOCTYPE html>
<!--<p>Darth Vader: Yo soy vuestro padre!!!</p>
<app-c08-hijo></app-c08-hijo>
<app-c08-hijo parametro="Leia"></app-c08-hijo>
<app-c08-hijo parametro="Yoda"></app-c08-hijo>
<app-c08-hijo parametro="Chewbacca"></app-c08-hijo>
<app-c08-hijo [parametro]="unaVariableString"></app-c08-hijo>
<app-c08-hijo parametro="Una cadena de caracteres sin utilizar variables"></app-c08-hijo>
<app-c08-hijo [parametro2]="personaje"></app-c08-hijo>-->
<p>Mensaje del hijo : {{mensajeDelHijo}}</p>
<app-c08-hijo (unEvento)="mensajeDelHijo=$event"></app-c08-hijo>
